
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    background: #F1F3FA;
  }
  body { 
    overflow-x:hidden;
  }
  #mainNav {
    background-color: darkslategrey;
    color:white;
  }
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }
  #cont{
    background-color: rgba(209, 179, 179, 0);
  }
  .container{
    background-color: rgb(209, 179, 179);
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    border-radius: 10px;
  }
  
  
  footer {
    text-align: center;
    background-color: white;
  }
  .ft{
    padding-left:22px;
    padding-right:31px;
  }
  
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:blak;
  }
  
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
  }
  
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
  }
  .content{
     margin-top:20px;
   }
  
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: rgb(235, 225, 225);
    height: 85%;
    border-radius: 25px;
    width: 17.5%;
  }
  
  .profile-userpic img {
    float: none;
    display:block;
    margin:auto;
    width: 75spx;
    height: 75px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: rgb(249, 245, 245);
    min-height: 660px;
    border-radius: 25px;
  }
  
  .nav>li {
      position: relative;
      display: block;
  }
  
  
  #bookingTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

#bookingTable th,
#bookingTable td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#bookingTable th {
    background-color: #f2f2f2;
}

#bookingTable tbody tr:hover {
    background-color: #f9f9f9;
}

#bookingTable td:first-child {
    font-weight: bold;
}

#bookingTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}